#refresh-button {
  width: 16%;
  height: 34%;
  bottom: 3.7%;
  left: 1%;
  background: url("../../../assets/images/hud_refresh-button.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
