#hud {
  width: 1371px;
  max-width: 100%;
  aspect-ratio: 5.9094827586 / 1;
  background: url("../../assets/images/tft_hud_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
