#hud {
  width: 1370px;
  max-width: 100%;
  aspect-ratio: 7.5745856354 / 1;
  background: url("../../assets/images/tft_hud_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
