#champions-roll > li {
  cursor: pointer;
  position: relative;
  width: 20%;
  margin-right: 0.5%;
  background-repeat: no-repeat;
  background-size: cover;
}
#champions-roll > li:last-child {
  margin-right: 0;
}

#champions-roll > li.five-cost {
  background-image: url("../../../assets/images/hud_champion-5.png");
}
