#champions-roll {
  top: 26%;
  left: 17.8%;
  width: 81.2%;
  height: 69.1%;
}
#champions-roll > li {
  cursor: pointer;
  position: relative;
  width: 20%;
  margin-right: 0.5%;
}
#champions-roll > li:last-child {
  margin-right: 0;
}

#champions-roll > li.five-cost {
  background: url("../../assets/images/hud_champion-5.png");
  background-repeat: no-repeat;
}
